* {
  box-sizing: border-box;
}
:root {
  --color-grey: rgba(238, 238, 238, 0.71);
}
a {
  text-decoration: none;
  color: #000;
}
body {
  font-family: "Roboto", sans-serif;
}
.logo-image {
  width: 128px;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}
.container {
  max-width: 1190px;
  margin: auto;
}
.auth {
  margin-left: auto;
}
.search-form {
  margin-left: 76px;
  background: var(--color-grey);
  border-radius: 10px;
  display: flex;
  padding: 13px 18px 13px 20px;
  max-width: 620px;
  flex-grow: 1;
  position: relative;
}
.search-input,
.search-button {
  background: transparent;
  border: none;
}
.search-button {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding-left: 18px;
  padding-right: 18px;
}
.search-input {
  width: 100%;
}
.login {
  background: #ebebeb;
  border-radius: 50px;
  padding: 16px 30px;
  display: block;
  color: #000;
  font-size: 14px;
  line-height: 16px;
  margin-left: 30px;
}
.shopping-cart {
  width: 49px;
  height: 49px;
  background: #f66a15;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  position: relative;
}
.shopping-counter {
  display: block;
  border-radius: 50%;
  padding: 5px;
  color: #000;
  background: #ffaf19;
  font-size: 8px;
  line-height: 9px;

  position: absolute;
  bottom: -5px;
  right: 0;
}
.slide {
  position: relative;
  height: 400px;
  background: #bbb;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 100px;
  overflow: hidden;
}
.slide::before {
  content: "";
  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(14, 14, 14, 0.43) 43.17%,
    rgba(0, 0, 0, 0) 100%
  );
}

.slide-content {
  max-width: 400px;
  position: relative;
}
.light-text,
.light-text .button-primary {
  color: #fff;
}
.slide-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 50px;
  line-height: 51px;
}
.slide-text {
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 30px;
}
.button-primary {
  background: #f47322;
}
.button-default {
  background-color: #fff;
  color: #5f5f61;
}
.button {
  border-radius: 25px;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  padding: 12px 52px;
  display: inline-block;
}
.slide-summer {
  background-image: url("../img/summer.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.slide-fall {
  background-image: url("../img/fall.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.slide-vitamin {
  background-image: url("../img/vitamin.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.promo {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  padding: 32px;
  max-width: 570px;
  min-height: 380px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}
.card::before {
  z-index: -1;

  content: "";
  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}
.card-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  margin-top: 4px;
  margin-bottom: 21px;
}
.card-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  max-width: 200px;
}
.card-price {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  margin-bottom: 8px;
}
.card-delivery {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 25px;
}
.card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  object-fit: cover;
}
/* .sweet {
  background-image: url("../img/sweet_bascket.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.low-effort {
  background-image: url("../img/low_effort.png");
  background-repeat: no-repeat;
  background-size: cover;
} */
