* {
  box-sizing: border-box;
}
:root {
  --color-grey: rgba(238, 238, 238, 0.71);
}
a {
  text-decoration: none;
  color: #000;
}
body {
  font-family: "Roboto", sans-serif;
}
.logo-image {
  width: 128px;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}
.container {
  max-width: 1190px;
  margin: auto;
}
.auth {
  margin-left: auto;
}
.search-form {
  margin-left: 76px;
  background: var(--color-grey);
  border-radius: 10px;
  display: flex;
  padding: 13px 18px 13px 20px;
  max-width: 620px;
  flex-grow: 1;
  position: relative;
}
.search-input,
.search-button {
  background: transparent;
  border: none;
}
.search-button {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding-left: 18px;
  padding-right: 18px;
}
.search-input {
  width: 100%;
}
.login {
  background: #ebebeb;
  border-radius: 50px;
  padding: 16px 30px;
  display: block;
  color: #000;
  font-size: 14px;
  line-height: 16px;
  margin-left: 30px;
}
.shopping-cart {
  width: 49px;
  height: 49px;
  background: #f66a15;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  position: relative;
}
.shopping-counter {
  display: block;
  border-radius: 50%;
  padding: 5px;
  color: #000;
  background: #ffaf19;
  font-size: 8px;
  line-height: 9px;

  position: absolute;
  bottom: -5px;
  right: 0;
}
.slide {
  position: relative;
  height: 400px;
  background: #bbb;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 100px;
  overflow: hidden;
}
.slide::before {
  content: "";
  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(14, 14, 14, 0.43) 43.17%,
    rgba(0, 0, 0, 0) 100%
  );
}

.slide-content {
  max-width: 500px;
  position: relative;
}

.slider-buttons {
  position: absolute;
  right: 46px;
  bottom: 40px;
  z-index: 10;
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: space-between;
}
.slider-button {
  cursor: pointer;
}
.swiper {
  position: relative;
}
.light-text,
.light-text .button-primary {
  color: #fff;
}
.slide-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 50px;
  line-height: 51px;
}
.slide-text {
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 30px;
}
.button-primary {
  background: #f47322;
}
.button-default {
  background-color: #fff;
  color: #5f5f61;
}
.button {
  cursor: pointer;
  border-radius: 25px;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  padding: 12px 52px;
  display: inline-block;
}
.slide-summer {
  background-image: url("../img/summer.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.slide-fall {
  background-image: url("../img/fall.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.slide-vitamin {
  background-image: url("../img/vitamin.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.promo {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  margin: -20px;
}
.card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  padding: 32px;
  margin: 20px;
  max-width: 570px;
  min-height: 380px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}
.card::before {
  z-index: -1;
  content: "";
  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}
.card-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  margin-top: 4px;
  margin-bottom: 21px;
}
.card-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  max-width: 200px;
}
.card-price {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  margin-bottom: 8px;
}
.card-delivery {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 25px;
}
.card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  object-fit: cover;
}
/* .sweet {
  background-image: url("../img/sweet_bascket.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.low-effort {
  background-image: url("../img/low_effort.png");
  background-repeat: no-repeat;
  background-size: cover;
} */
.section-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  margin-top: 0;
  margin-bottom: 47px;
}
.delivery-week {
  padding: 100px 0;
}
.delivery-cards {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.delivery-card {
  width: 275px;
  height: 182px;

  border-radius: 18px;
  overflow: hidden;
  position: relative;
  margin: 15px;
}
.delivery-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.delivery-tag {
  position: absolute;
  left: 10px;
  top: 16px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  padding: 5px 10px;
}
.tag-health {
  color: #49494f;
  background: #d0fd89;
}
.tag-vegetables {
  color: #fff;
  background: #aebc41;
}
.tag-meat {
  color: #fff;
  background: #b86b78;
}
.tag-poultry {
  color: #fff;
  background: #d68334;
}
.tag-fish {
  color: #fff;
  background: #cd6255;
}
.tag-children {
  color: #49494f;
  background: #fffdbf;
}
.tag-parents {
  color: #49494f;
  background: #f6fdc8;
}
.tag-selebration {
  color: #49494f;
  background: #fef7fe;
}

.section-grey {
  background: #f6f6f6;
}
.category {
  padding-top: 40px;
  padding-bottom: 60px;
}
.tabs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 62px;
}
.tabs-link {
  font-size: 20px;
  line-height: 23px;

  color: #49494f;
  margin-right: 58px;
}
.tabs-link.active {
  color: #f37321;
}
.tabs-content {
  display: flex;
  margin: -20px;
  justify-content: space-between;
}
.tabs-card {
  margin: 20px;
  max-width: 270px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
}
.tabs-image {
  max-width: 100%;
}
.tabs-card-content {
  padding: 23px;
}
.tabs-title {
  margin-top: 0;
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}
.tabs-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #b9b9be;
}
.tabs-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tabs-price {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 23px;
  line-height: 23px;
  color: #4b4b51;
}
.tabs-weight {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #aaaab1;
}
.button-outline {
  padding: 15px 25px;
  background-color: transparent;
  border: 2px solid #f37321;
  box-sizing: border-box;
  border-radius: 33px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #f37321;
}
.button-center {
  padding: 15px;
  display: block;
  margin: auto;
  margin-top: 60px;
  width: 315px;
}

.advantages {
  padding: 100px 0;
}
.advantages-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  margin-bottom: 52px;
}
.advantages-cards {
  display: flex;
  justify-content: space-between;
  margin: -20px;
}
.advantages-card {
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  max-width: 270px;
  text-align: center;
  padding: 30px 25px 25px 25px;
  margin: 20px;
}
.advantages-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  margin-top: 34px;
  margin-bottom: 13px;
}
.advantages-info {
  font-size: 14px;
  line-height: 22px;
}

.footer {
  padding: 40px 0;
  background: #f6f6f6;
}
.footer-wrapper {
  display: flex;
  align-items: center;
}
.footer-logo {
  margin-right: 50px;
}
.footer-link {
  font-size: 16px;
  line-height: 23px;
  text-decoration: underline;
  margin-right: 50px;
}
.footer-social {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.social-link {
  margin-left: 20px;
}
@media (max-width: 1260px) {
  .container {
    max-width: 960px;
  }
  .search-form {
    margin-right: 40px;
    margin-left: 40px;
  }
  .tabs-content {
    flex-wrap: wrap;
  }
  .tabs-card {
    flex: 50%;
    max-width: calc(50% - 40px);
  }
  .advantages-cards {
    flex-wrap: wrap;
  }
  .advantages-card {
    max-width: 50%;
    max-width: calc(50% - 40px);
  }
}
@media (max-width: 990px) {
  .container {
    max-width: 750px;
  }
  .slide {
    padding: 70px;
  }
  .delivery-card {
    width: calc(50% - 40px);
  }
  .footer-nav {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-logo {
    margin-right: 40px;
  }
  .footer-link {
    margin-bottom: 20px;
  }
}
@media (max-width: 770px) {
  .container {
    max-width: 560px;
  }
  .header {
    flex-wrap: wrap;
  }
  .search-form {
    order: 5;
    margin: 15px 0 30px 0;
  }
  .promo {
    flex-wrap: wrap;
  }
  .footer-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-logo {
    margin-bottom: 30px;
    max-width: 60%;
  }
  .footer-link {
    margin-bottom: 20px;
  }
}
@media (max-width: 570px) {
  .container {
    max-width: 90%;
  }
  .tabs-card {
    max-width: 100%;
  }
  .advantages-card {
    max-width: 100%;
  }
  .footer-social {
    margin: 0;
  }
  .footer-nav {
    margin-bottom: 30px;
  }
  .social-link {
    margin-right: 20px;
    margin-left: 0;
  }
}
